@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy policy.</p>

<h2>About</h2>
<p>This appointment manager is for a family, with parents and children.</p>
<p>The login system is a placeholder, real users and login will be added in future itterations.</p>
<p>Use the site by Clicking on the keywords that lead to different pages based on the model you clicked on. e.g.  parent leads to http:.../parent
    and then clicking an item will lead to Controller(Parent)/ActionName/Parameter or ID</p>

<a class="text-center " asp-area="" asp-controller="HelloWorld" asp-action="Index">Test page</a>
