@model ISAD251Appointments.Models.Appointments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointments</h4>
<hr />
<div class="row w3-display-container">

    <div class="w3-display-topright">
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentID" />
            <div class="form-group">
                <label asp-for="AppointmentName" class="control-label"></label>
                <input asp-for="AppointmentName" class="form-control" />
                <span asp-validation-for="AppointmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDescription" class="control-label"></label>
                <input asp-for="AppointmentDescription" class="form-control" />
                <span asp-validation-for="AppointmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentTarget" class="control-label"></label>
                <input asp-for="AppointmentTarget" class="form-control" />
                <span asp-validation-for="AppointmentTarget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentTime" class="control-label"></label>
                <input asp-for="AppointmentTime" class="form-control" />
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentNote" class="control-label"></label>
                <input asp-for="AppointmentNote" class="form-control" />
                <span asp-validation-for="AppointmentNote" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AppointmentIsComplete" /> @Html.DisplayNameFor(model => model.AppointmentIsComplete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
